In [5]:
from pandas import read_csv, DataFrame
from sklearn.metrics import roc_curve
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
import ml_metrics, string, re, pylab as pl
import pandas as pd

SampleCustomers = read_csv("https://static.tcsbank.ru/documents/olymp/SAMPLE_CUSTOMERS.csv", ';')
SampleAccounts = read_csv("https://static.tcsbank.ru/documents/olymp/SAMPLE_ACCOUNTS.csv",";",decimal =',')

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

SampleAccounts.head(5)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (8,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   tcs_customer_id  bureau_cd  bki_request_date  inf_confirm_date  type  status  open_date  final_pmt_date fact_close_date  credit_limit currency  outstanding  next_pmt  curr_balance_amt  current_delq  ttl_delq_5  ttl_delq_5_29  ttl_delq_30  ttl_delq_30_59  ttl_delq_60_89  ttl_delq_90_plus  pmt_string_start          pmt_string_84m  delq_balance  max_delq_balance  interest_rate pmt_freq  relationship
0                1          2             40767             40744    99       0      40676         41040.0             NaN         28967      RUB      24606.0    2743.0               NaN           0.0           0              0            0               0               0                 0           40767.0                    X111           0.0              0.00              0        3             1
1                1          1             40767             39862    99      13      39505         39870.0           39870         30000      RUB          0.0       NaN               NaN           0.0           0              0            0               0               0                 0           39857.0            111111111111           0.0              0.00              0        3             1
2                1          1             40767             39924    99      13      39261         39629.0           39923         19421      RUB          0.0       NaN               NaN           0.0           1              1            2               0               0                 0           39918.0  11111111111A1111111111           0.0           1711.65              0        3             1
3                1          1             40767             40043     9      13      39644         40042.0           40042         11858      RUB          0.0       NaN               NaN           0.0           0              0            0               0               0                 0           40041.0           111111111111X           0.0              0.00              0        3             1
4                1          1             40767             40427    99      13      39942         40308.0           40429         19691      RUB          0.0       NaN               NaN           0.0           0              4            4               1               1                 1           40436.0        11132A1111111111           0.0           6148.50              0        3             1

In [6]:
SampleAccounts.tcs_customer_id.drop_duplicates().count(), SampleAccounts.tcs_customer_id.count()

(50000, 280942)

In [8]:
SampleAccounts[['tcs_customer_id','open_date','final_pmt_date','credit_limit','currency']].drop_duplicates().head(5)

   tcs_customer_id  open_date  final_pmt_date  credit_limit currency
0                1      40676         41040.0         28967      RUB
1                1      39505         39870.0         30000      RUB
2                1      39261         39629.0         19421      RUB
3                1      39644         40042.0         11858      RUB
4                1      39942         40308.0         19691      RUB

In [9]:
SampleAccounts.final_pmt_date[SampleAccounts.final_pmt_date.isnull()] = SampleAccounts.fact_close_date[SampleAccounts.final_pmt_date.isnull()].astype(float)
SampleAccounts.final_pmt_date.fillna(0, inplace=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
sumtbl = SampleAccounts.pivot_table(['inf_confirm_date'],  ['tcs_customer_id','open_date','final_pmt_date','credit_limit','currency'], aggfunc='max')
sumtbl.head(5)

                                                                inf_confirm_date
tcs_customer_id open_date final_pmt_date credit_limit currency
1               39261     39629.0        19421        RUB                  39924
                39505     39870.0        30000        RUB                  39862
                39644     40042.0        11858        RUB                  40043
                39876     41701.0        300000       RUB                  40766
                39942     40308.0        19691        RUB                  40435

In [11]:
SampleAccounts = SampleAccounts.merge(sumtbl, 'left', 
                                     left_on=['tcs_customer_id','open_date','final_pmt_date','credit_limit','currency'], 
                                     right_index=True,
                                     suffixes=('', '_max'))

In [13]:
# преобразуем pmt_string_84m
vals = list(range(10)) + ['A','X']
PMTstr = DataFrame([{'pmt_string_84m_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.pmt_string_84m])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['pmt_string_84m'], axis=1)

# преобразуем pmt_freq
SampleAccounts.pmt_freq.fillna(7, inplace=True)
SampleAccounts.pmt_freq[SampleAccounts.pmt_freq == 0] = 7
vals = list(range(1,8)) + ['A','B']
PMTstr = DataFrame([{'pmt_freq_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.pmt_freq])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['pmt_freq'], axis=1)

# преобразуем type
vals = [1,4,6,7,9,10,11,12,13,14,99]
PMTstr = DataFrame([{'type_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.type])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['type'], axis=1)

# преобразуем status
vals = [0,12, 13, 14, 21, 52,61]
PMTstr = DataFrame([{'status_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.status])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['status'], axis=1)

# преобразуем relationship
vals = [1,2,4,5,9]
PMTstr = DataFrame([{'relationship_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.relationship])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['relationship'], axis=1)

# преобразуем bureau_cd
vals = [1,2,3]
PMTstr = DataFrame([{'bureau_cd_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in SampleAccounts.bureau_cd])
SampleAccounts = SampleAccounts.join(PMTstr).drop(['bureau_cd'], axis=1)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
SampleAccounts.fact_close_date[SampleAccounts.fact_close_date.notnull()] = 1
SampleAccounts.fact_close_date.fillna(0, inplace=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
PreFinalDS = SampleAccounts[SampleAccounts.inf_confirm_date == SampleAccounts.inf_confirm_date_max].drop_duplicates()

In [16]:
PreFinalDS = PreFinalDS.groupby(['tcs_customer_id','open_date','final_pmt_date','credit_limit','currency']).max().reset_index()

In [17]:
PreFinalDS = PreFinalDS.drop(['bki_request_date',
                              'inf_confirm_date',
                              'pmt_string_start',
                              'interest_rate',
                              'open_date',
                              'final_pmt_date',
                              'inf_confirm_date_max'], axis=1)

In [18]:
curs = DataFrame([33.13,44.99,36.49,1], index=['USD','EUR','GHF','RUB'], columns=['crs'])
PreFinalDS = PreFinalDS.merge(curs, 'left', left_on='currency', right_index=True)
PreFinalDS.credit_limit = PreFinalDS.credit_limit * PreFinalDS.crs

#выделяем значения в отдельные столбцы
vals = ['RUB','USD','EUR','CHF']
PMTstr = DataFrame([{'currency_%s' % (str(j)): str(i).count(str(j)) for j in vals} for i in PreFinalDS.currency])
PreFinalDS = PreFinalDS.join(PMTstr).drop(['currency','crs'], axis=1)

In [19]:
PreFinalDS['count_credit'] = 1

In [20]:
PreFinalDS.fillna(0, inplace=True)
FinalDF = PreFinalDS.groupby('tcs_customer_id').sum()
FinalDF.head(5)

                 credit_limit  fact_close_date  outstanding  next_pmt  curr_balance_amt  current_delq  ttl_delq_5  ttl_delq_5_29  ttl_delq_30  ttl_delq_30_59  ttl_delq_60_89  ttl_delq_90_plus  delq_balance  max_delq_balance  pmt_string_84m_0  pmt_string_84m_1  pmt_string_84m_2  pmt_string_84m_3  pmt_string_84m_4  pmt_string_84m_5  pmt_string_84m_6  pmt_string_84m_7  pmt_string_84m_8  pmt_string_84m_9  pmt_string_84m_A  pmt_string_84m_X  pmt_freq_1  pmt_freq_2  pmt_freq_3  pmt_freq_4  pmt_freq_5  pmt_freq_6  pmt_freq_7  pmt_freq_A  pmt_freq_B  type_1  type_10  type_11  type_12  type_13  type_14  type_4  type_6  type_7  type_9  type_99  status_0  status_12  status_13  status_14  status_21  status_52  status_61  relationship_1  relationship_2  relationship_4  relationship_5  relationship_9  bureau_cd_1  bureau_cd_2  bureau_cd_3  currency_CHF  currency_EUR  currency_RUB  currency_USD  count_credit
tcs_customer_id
1                    588937.0                4          0.0   12209.0          249909.0          29.0           1              4            5               2               0                 1         209.0           1920.65                 1               112                 2                 0                 1                 0                 0                 0                 0                 0                 4                 2           0           0           6           0           0           0           1           0           0       0        0        0        0        0        0       0       0       1       9        2         3          0          4          0          0          1          0               8               0               0               0               0            4            0            4             0             0             8             0             8
2                     28737.0                1      21636.0    2360.0            7740.0           0.0           0              0            0               0               0                 0           0.0              0.00                 0                 6                 0                 0                 0                 0                 0                 0                 0                 0                 0                 1           0           0           2           0           0           0           0           0           0       0        0        0        0        0        0       0       0       0       2        0         1          0          1          0          0          0          0               2               0               0               0               0            0            0            2             0             0             2             0             2
3                     42694.0                1      11554.0     258.0               0.0           0.0           0              0            0               0               0                 0           0.0              0.00                 0                14                 0                 0                 0                 0                 0                 0                 0                 0                 0                 2           0           0           1           0           0           0           0           0           0       0        0        0        0        0        0       0       0       1       1        0         1          0          1          0          0          0          0               2               0               0               0               0            1            0            1             0             0             2             0             2
4                    475017.0                5     284097.0   37945.0           47277.0           0.0           0              2            2               0               0                 0           0.0              0.00                 3                62                 0                 0                 0                 0                 0                 0                 0                 0                 2                83           0           1           4           0           0           0           2           0           0       0        0        0        0        0        0       0       0       3       6        0         4          0          5          0          0          0          0               9               0               0               0               0            2            3            4             0             0             9             0             9
5                     11868.0                1          0.0       0.0               0.0           0.0           0              2            2               0               0                 1           0.0            997.47                 0                10                 1                 1                 1                 1                 0                 0                 0                 0                 3                 0           0           0           1           0           0           0           0           0           0       0        0        0        0        0        0       0       0       0       1        0         0          0          1          0          0          0          0               1               0               0               0               0            1            0            0             0             0             1             0             1

In [21]:
SampleCustomers.set_index('tcs_customer_id', inplace=True)
UnionDF = FinalDF.join(SampleCustomers)
trainDF = UnionDF[UnionDF.sample_type == 'train'].drop(['sample_type'], axis=1)
testDF = UnionDF[UnionDF.sample_type == 'test'].drop(['sample_type'], axis=1)

In [22]:
CorrKoef = trainDF.corr()

In [24]:
FieldDrop = [i for i in CorrKoef if CorrKoef[i].isnull().drop_duplicates().values[0]]
FieldDrop

['pmt_string_84m_6',
 'pmt_string_84m_8',
 'pmt_freq_5',
 'pmt_freq_A',
 'pmt_freq_B',
 'status_12']

In [27]:
CorField = []
for i in CorrKoef:
    for j in CorrKoef.index[CorrKoef[i] > 0.9]:
        if i != j and j not in CorField and i not in CorField:
            CorField.append(j)
            print("%s-->%s: r^2=%f" % (i,j, CorrKoef[i][CorrKoef.index==j].values[0]))

fact_close_date-->status_13: r^2=0.997362
ttl_delq_5_29-->ttl_delq_30: r^2=0.954740
ttl_delq_5_29-->pmt_string_84m_A: r^2=0.925870
ttl_delq_30_59-->pmt_string_84m_2: r^2=0.903337
ttl_delq_90_plus-->pmt_string_84m_5: r^2=0.978239
delq_balance-->max_delq_balance: r^2=0.986967
pmt_freq_3-->relationship_1: r^2=0.909820
pmt_freq_3-->currency_RUB: r^2=0.910620
pmt_freq_3-->count_credit: r^2=0.911109

In [28]:
FieldDrop =FieldDrop + ['fact_close_date','ttl_delq_30',
                        'pmt_string_84m_5',
                        'pmt_string_84m_A',
                        'pmt_string_84m_A',
                        'max_delq_balance',
                        'relationship_1',
                        'currency_RUB',
                        'count_credit']
newtr = trainDF.drop(FieldDrop, axis=1)

In [29]:
target = newtr.bad.values
train = newtr.drop('bad', axis=1).values

In [30]:
coder = PCA(n_components=20)
train = coder.fit_transform(train)

In [31]:
models = []
models.append(RandomForestClassifier(n_estimators=165, max_depth=4, criterion='entropy'))
models.append(GradientBoostingClassifier(max_depth =4))
models.append(KNeighborsClassifier(n_neighbors=20))
models.append(GaussianNB())

In [32]:
TRNtrain, TRNtest, TARtrain, TARtest = train_test_split(train, target, test_size=0.3, random_state=0)

In [33]:
pl.figure(figsize=(10, 10)) 
for model in models:
    model.fit(TRNtrain, TARtrain)
    pred_scr = model.predict_proba(TRNtest)[:, 1]
    fpr, tpr, thresholds = roc_curve(TARtest, pred_scr)
    roc_auc = ml_metrics.auc(TARtest, pred_scr)
    md = str(model)
    md = md[:md.find('(')]
    pl.plot(fpr, tpr, label='ROC fold %s (auc = %0.2f)' % (md, roc_auc))

pl.plot([0, 1], [0, 1], '--', color=(0.6, 0.6, 0.6))
pl.xlim([0, 1])
pl.ylim([0, 1])
pl.xlabel('False Positive Rate')
pl.ylabel('True Positive Rate')
pl.title('Receiver operating characteristic example')
pl.legend(loc="lower right")
pl.show()

NameError: name 'plt' is not defined